/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/
.ast-separate-container .ast-article-single {
    padding: 50px 50px;
}
.container .row .product-detail-layout-6 {
    max-width: 1100px!important;
}
body.home.page-template-default .pp-breadcrumbs.pp-breadcrumbs-yoast {
    display: none;
}

header ul.storename {
    list-style: none;
}
.custombanneralert {
    padding: 14px 20px;
    color: #fff!important;
    text-align: center;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 110px;
    padding: 5px 20px;
}
.homeNewFlooring .uabb-image-carousel-item {
    position: relative;
	padding-bottom: 40px;
}
.homeNewFlooring .uabb-image-carousel-caption {
    background-color: transparent;
    font-size: 22px!important;
    color: #fff;        
    font-style: italic;
    margin-bottom: 0px;
    z-index: 2;
    position: absolute;
	bottom: 0;
	left: 5px;
	right: 5px;
	text-overflow: inherit;
    white-space: inherit;
}
.homeNewFlooring .uabb-image-carousel-caption span{
    font-size: 16px!important;
    display: block!important;
    color: #fff;    
    font-style: italic;
    background-color: #ce2b2b;
    padding: 10px;    
}
.custom_searchHeader i {
    cursor: pointer;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: -8px;
    text-align: center;
}

.gform_wrapper li.gfield div.gfield_time_ampm select {
    width: 80px !important;
    text-align: left;
    max-width: none !important;
    height: auto !important;
}

form.cart a.added_to_cart.wc-forward.button.alt {
    margin: 10px auto 0;
}

.woocommerce.columns-3 .ast-article-single .ast-quick-view-text {
    display: none !important;
}

#primary {
    margin: 0px !important;
}

.ast-container {
    max-width: inherit !important;
    padding: 0px !important;
}

.page .entry-header {
    margin-bottom: 0em;
}

.ast-post-format-.single-layout-1 {
    max-width: 70%!important;
    margin: 30px auto;
}

.fl-slide-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.fl-slide-text > .fl-builder-content  {
    margin: 0px!important;
}

.fl-slide-photo-wrap {
    width: auto!important;
}

/* product image hover */

.woocommerce li.product:hover .show-on-hover {
    opacity: 0;
}

header .storename {
    margin-top: -7px;
    margin-left: -5px !important;
}

header .storename .phone a span:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
    margin-top: -2px;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
    padding: 5px;
}

footer .uabb-imgicon-wrap i:hover:before {
    color: #fff !important;
}

.product-detail-layout-6 .dual-button a {
    border: 1px solid !important;
}

ul.storename,
ul.store-opening-hrs {
    list-style: none;
}


/* product image hover */

@media screen and (min-width:769px) and (max-width:1024px) {
    h1.uabb-heading span {
        font-size: 55px !important;
    }
    .gf_left_half.timeEstimate {
        width: 100% !important;
    }
    h2.uabb-heading {
        font-size: 35px;
    }
    .global-product-row h5.uabb-heading a {
        display: flex !important;
        width: 84% !important;
        margin: 0 auto;
    }
    .margin-bottom-20-i-phone h1.uabb-heading {
        margin-bottom: 20px !important;
    }
    .global-product-row .uabb-heading .uabb-heading-text {
        padding: 10px;
        margin: 0 auto;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
	.homeNewFlooring .uabb-image-carousel-caption span {
		font-size: 14px!important; 
	}
}

@media screen and (max-width:768px) {
	.couponRow .fl-row-content {
    	width: 100%!important;
	}
	.couponHeading h1 {
		font-size: 35px!important;
	}
	.fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	.fl-slide-content {
		padding: 0px!important;
	}
	.fl-module-content-slider .fl-slide .fl-slide-text h1.uabb-heading span {
		font-size: 30px!important;
		line-height: 1em!important;
		
	}
    .logo .uabb-photo-align-left {
        text-align: center;
    }
    .top-bar .fl-module-content.fl-node-content {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .top-bar .fl-module-content.fl-node-content * {
        font-size: 12px !important;
    }
    .per-page-row .fl-col {
        flex: 0 0 100% !important;
    }
    .per-page-row .fl-col-group {
        align-items: center;
        justify-content: center;
    }
    .fl-icon-text.fl-icon-text-wrap ul.storename .phone {
        margin-bottom: 30px !important;
        margin-top: 40px !important;
    }
    .per-page-row h3 {
        text-align: center !important;
    }
    .font-issue h3.uabb-heading .uabb-heading-text,
    .font-issue h3.uabb-heading {
        font-size: 20px !important;
        line-height: 1 !important;
    }
    .no-sidebar .open_sidebar {
        display: none !important;
    }
    button#responsive-menu-button {
        position: fixed !important;
        top: 22px !important;
    }
    .ast-footer-overlay .ast-col-md-6 {
        width: 100%;
    }
    .top-bar-menu .uabb-creative-menu .menu {
        text-align: center;
    }
    ul.storename {
        margin: 0 !important;
    }
	.top-bar .fl-col-group .fl-rich-text {
		margin-left: 20px!important;
	}
}
@media screen and (min-width:668px) { 
	.top-bar .fl-col-group {
		display: flex;
	}
}
@media (max-width: 668px) { 
	.fl-builder-content .small-100 {
		width: 100%!important;
	}
	#rmp_menu_trigger-1166968 {
		top: 85px!important;
	}
	.top-bar .fl-col-group .fl-module-content {
		margin-top: 8px!important;
        margin-bottom: 5px!important;
	}
}
@media (max-width: 544px) {
    h2,
    .entry-content h2,
    .entry-content h2 a {
        font-size: 20px !important;
        margin: 0 13px !important;
    }
    button#responsive-menu-button {
        position: absolute !important;
        top: 102px !important;
    }
    .font-issue-mob h2.uabb-heading span {
        font-size: 44px !important;
    }
    .d-flex-mob a {
        display: flex !important;
    }
    .facetwp-template .col-xs-6 {
        width: 100% !important;
    }
}

@media screen and (max-width:500px) {
    .top-bar-menu ul#menu-locations {
        display: flex;
        justify-content: center;
    }

    #responsive-menu-container {
        width: 87% !important;
    }
    ul.store-opening-hrs li {
        text-align: center !important;
    }
    h3.uabb-heading {
        line-height: 40px;
        margin: 0 13px !important;
    }
    h3.uabb-heading .uabb-heading-text {
        font-size: 30px !important;
    }
}

ul#menu-main-menu>li>a {
    padding: 10px 0 !important;
}

.pp-advanced-menu-horizontal.pp-toggle-arrows .pp-has-submenu-container>a>span {
    padding-right: 0 !important;
}

.pp-advanced-menu .pp-menu-toggle {
    right: -16px !important;
}


/* .pp-advanced-menu .pp-has-submenu-container .pp-menu-toggle {
    right: 0px !important;
} */

ul#menu-main-menu li ul .pp-has-submenu .pp-menu-toggle {
    right: 0px !important;
}

li#menu-item-915220 {
    padding-right: 0px;
    padding-left: 15px;
}
.container .row .product-detail-layout-6 .product-variations img{
	min-width: none;
}